streamlit
spacy
langchain
transformers
wikipedia
torch
langchain-community
diffusers
accelerate
torchaudio
plotly
scikit-learn
prophet
yfinance
openpyxl
h2o>=3.38.0
pillow>=8.0.0
geopandas
matplotlib
folium
streamlit-folium
shapely